<div id="artists" class="d-flex mb-5 justify-content-between">
  <h3> Artistas </h3>
  <%= button_to "Novo artista", new_artist_path, method: :get, class: "btn btn-pink" %>
</div>
  <p style="color: green"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-3" scope="col">Nome</th>
      <th class="col-md-3" scope="col">Registrado em</th>
      <th class="col-md-3" scope="col">Ações</th>
    </tr>
  </thead>
        <tbody>
          <% @artists.each do |artist| %>
              <%= render artist %>
          <% end %>
        </tbody>
</table>
