<div id="directors" class="d-flex mb-5 justify-content-between">
  <h3> Diretores </h3>
  <%= button_to "Novo diretor", new_director_path, method: :get, class: "btn btn-pink" %>
</div>
  <p style="color: green"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-3" scope="col">Nome</th>
      <th class="col-md-3" scope="col">Registrado em</th>
      <th class="col-md-3" scope="col">Ações</th>
    </tr>
  </thead>
        <tbody>
          <% @directors.each do |director| %>
              <%= render director %>
          <% end %>
        </tbody>
</table>
